.speaker-banner {
  width: 750px;
  height: 750px;
  background: linear-gradient(to bottom right, #0f0f27, #00059e);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .header {
    padding: 100px 20px 0;
    text-align: center;
  }

  .header h1 {
    font-size: 2em;
    margin: 0;
    color: #ffd700;
    font-weight: 300;
    }

    .header h2 {
      width: 60%;
      font-size: 2.2em;
      margin: 10px auto;
      color: #ffffff;
      font-weight: 700;
  }

  .content {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-around;
    margin: -100px 30px 0;
  }

  .speaker {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .content img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #ffd700;
  }

  .details {
    background-color: #ffd700;
    padding: 10px;
    position: absolute;
    width: 300px;
    top: 180px;
    border-radius: 12px;
    color: #1a1a40;
    text-align: center;
    transform: rotate(-5deg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    left: -35px;
  }

  .details h3 {
    font-size: 1.6em;
    margin: 0 0 10px;
    font-weight: 900;
  }

  .details p {
    font-size: 1em;
    margin: 0;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0;
    background: #ffd700;
    color: #2c2c54;
    padding: 10px 20px;
  }

  .info,
  .sponsor {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
  }

  .icon {
    margin-right: 5px;
  }

  .logo {
    display: flex;
    align-items: center;
    position: absolute;
    margin-right: 10px;
    top: 30px;
    right: 20px;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }

  .collab-logo {
    display: flex;
    align-items: center;
    position: absolute;
    margin-right: 10px;
    top: 145px;
    right: 20px;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }

  .qr-code-top {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 8px;
  }

  .qr-code-bottom {
    position: absolute;
    bottom: 100px;
    right: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px;
  }

  .qr-code-hide {
    display: none;
  }
}

.multi-speaker {
  .header {
    padding: 30px 20px 0;
  }

  .content {
    display: flex;
    row-gap: 20px;
    column-gap: 60px;
    flex-wrap: wrap;
    padding-top: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .content img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: 4px solid #ffd700;
  }

  .details-multi {
    padding: 10px;
    color: #fff;
    text-align: center;
  }
}
