.collab-banner {
  width: 750px;
  height: 400px;
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom right, #0f0f27, #00059e);

  .header {
    display: flex;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-between;
  }

  .header h1 {
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 2px;
  }

  .header h2 {
    color: #fff;
    font-size: 0.8em;
    font-style: italic;
    letter-spacing: 2px;
    text-decoration: underline;
  }

  .details {
    top: 230px;
    right: 20px;
    width: 230px;
    display: flex;
    position: absolute;
    flex-direction: column;

    .block {
      width: 100%;
      color: #fff;
      display: flex;
      letter-spacing: 0.5px;
      font-style: italic;
      margin-top: 10px;
      align-items: center;

      .icon {
        padding: 10px;
        border: solid 2px #366989;
        border-right: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        img {
          width: 20px;
          height: 20px;
          object-fit: cover;
        }
      }
      .value {
        padding: 8px 10px;
        width: calc(100% - 42px);
        border: solid 2px #366989;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  .content {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .logo-1 {
      left: 210px;
      top: -60px;
      z-index: 99;
      display: flex;
      position: absolute;
      align-items: center;

      img {
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 10px;
        transform: rotate(15deg);
      }
    }

    .logo-2 {
      right: 280px;
      top: -100px;
      display: flex;
      position: absolute;
      align-items: center;

      img {
        width: 130px;
        height: 130px;
        object-fit: cover;
        transform: rotate(-10deg);
      }
    }
  }

  .footer {
    color: #fff;
    word-spacing: 2px;
    letter-spacing: 2px;
    padding: 10px 30px 15px;
  }
}
